DB_URL  = mongodb+srv://ecomnew:dDNTeinkxc2KEMan@ecomnew.rriwihc.mongodb.net/?appName=ecomnew
PORT = 5001
CLIENT_ORIGIN = https://mayons.lk,http://localhost:5173,http://localhost:5174

ACCESS_SECRETE_TOKEN = syneifilajfklsajfoijwioej7eruashfsaofosjfklsajffsafj2938u9
REFRESH_SECRETE_TOKEN = syneifilajfklsajfoijwioej7eruashfsaofosjfklsajffsafj2938u9

NODE_ENV = production

EMAIL_USER = info@mayons.lk
EMAIL_PASS = L,u$Ct_f5hlq[Ttc